<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/Favicon.png">
    <title>Positive Emotions</title>
</head>
<body>
    <ul>
        <li>Self-Reflection:</li>
            <ul>
            <li>Note fluctuations in your positive emotions.</li>
            <li>Be aware of your overall feelings.</li>
            </ul>
        <li>Collaborative Effort:</li>
            <ul>
            <li>Let's work together to identify joy-inducing activities.</li>
            </ul>
        <li>Positive Outlook:</li>
            <ul>
            <li>Discover practices that maintain a positive mindset.</li>
            </ul>
        <li>Small Steps, Big Impact:</li>
        <ul>
            <li>Remember, incremental changes lead to improved well-being.</li>
        </ul>
    </ul>
</body>
</html>