<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/Favicon.png">
    <title>Positive Emotions</title>
    <link rel="stylesheet" href="../Public/styles/stylestips.css">
</head>
<body>
    <div class="parent">
        <div class="child">
            <h1>Pathways to Positive Emotions</h1>
            <ul>
                <li>Self-Reflection:
                    <ul>
                        <li>Note fluctuations in your positive emotions.</li>
                        <li>Be aware of your overall feelings.</li>
                    </ul>
                </li>
                <li>Collaborative Effort:
                    <ul>
                        <li>Let's work together to identify joy-inducing activities.</li>
                    </ul>
                </li>
                <li>Positive Outlook:
                    <ul>
                        <li>Discover practices that maintain a positive mindset.</li>
                    </ul>
                </li>
                <li>Small Steps, Big Impact:
                    <ul>
                        <li>Remember, incremental changes lead to improved well-being.</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>