<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/Favicon.png">
    <title>Relationships</title>
    <link rel="stylesheet" href="../Public/styles/stylestips.css">
</head>
<body>
    <ul>
        <li>Prioritize Healthy Relationships:</li>
            <ul>
            <li>Ensure your connections are positive and beneficial.</li>
            </ul>
        <li>Nurture and Strengthen:</li>
            <ul>
            <li>Take steps to deepen existing relationships.</li>
            </ul>
        <li>Effective Communication:</li>
            <ul>
            <li>Explore ways to communicate openly and effectively.</li>
            </ul>
        <li>Build a Support System:</li>
        <ul>
            <li>Create a reliable network for challenging times.</li>
        </ul>
        <li>Happiness and Resilience:</li>
        <ul>
            <li>Strong social ties significantly contribute to both.</li>
        </ul>
    </ul>
</body>
</html>